@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    // background-color: rgb(255, 0, 0);
    img {
        width: 10%;
        cursor: pointer;
    }

    nav {
        ul {
            color: #4579CB;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            display: flex;
            gap: 50px;
            list-style: none;
            a {
                color: #4579CB;
                text-decoration: none;
            }
        }
    }

    a button {
        background-color:#4579CB;;
        cursor: pointer;
        color: #fff;
        padding: 10px 15px;
        border-radius: 8px;
        border: none;
    }
}