.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-top: 0.5px solid black;

    &__left {
        text-align: center;
        width: 400px;

        img {
            width: 250px;

        }
    }

    &__center {
        text-align: center;
        width: 400px;

        p {
            font-size: 10px;
        }
    }

    &__right {
        text-align: center;
        width: 400px;

        ul {
            list-style: none;
        }

    }
}